<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="../static/style.css"> 
    <!-- <link rel="stylesheet" href="static/style.css">  -->
    <link href="https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap" rel="stylesheet">
</head>
<body>
    <div class="bg-img"></div>
    <div class="bg-cover"></div>
    <header>
        <a href="">
            <h1 class="title">Explorador de países</h1>
        </a>
    </header>
    <div id="search-bar-container" class="search-bar-container">
        <div class="bar-wrapper">
            <div class="svg-container">
                <svg class="icon" focusable="false" xmlns="http://www.w2.org/2000/svg" viewBox="0 0 24 24">
                    <path
                        d="M14.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                    </path>
                </svg>
            </div>
            <input type="text" id="search-bar">
        </div>
    </div>
    <section>
        
        <!-- <button id="getAPI">Get Data</button>  -->
        <div class="info-wrapper">
            <img src="https://restcountries.eu/data/esh.svg" alt="">
            <p>Capital: </p>
            <p>Idiomas: </p>
            <p>População: </p>
            <p>Região: </p>
            <p>Moeda: </p>
        </div>
        <div id="output">
        </div>
    </section>
    <div class="zoom-container">
        <div class="img-zoom">
        </div>
    </div>
    <div class="loader-wrapper">
        <div class="loader">
        </div>
    </div>
</body>
<!-- <script src="static/script.js"></script> -->
<script src="../static/script.js"></script>
</html>
